@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 5, 5, 5;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
}

/* Dot Pattern Background */
.bg-dot-pattern {
  background-image: radial-gradient(#333 1px, transparent 1px);
  background-size: 24px 24px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #059669;
}

.text-gradient-hero {
  background: linear-gradient(to right, #a78bfa, #38bdf8);
  /* Purple to Sky Blue similar to image */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}